body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.wrapper {
  width: 50%;
}

.todoapp__heading {
  text-decoration: underline #0476d0 4px !important;
  text-decoration-line: underline;
  text-decoration-color: #0476d0;
  text-decoration-thickness: 4px;
}

.form-check > input[type="checkbox"]:checked + label {
  text-decoration: line-through #0476d0 2px !important;
  text-decoration-line: line-through;
  text-decoration-color: #0476d0;
  text-decoration-thickness: 2px;
  color: #868b8e;
}

.todoitem__delete::after {
  content: "x";
  cursor: pointer;
  position: absolute;
  margin-left: 10px;
  padding: 0 8px;
  font-weight: 600;
  border: 2px solid #0476d0;
}

@media screen and (max-width: 900px) {
  .wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}
